<div class="row p-5">
  <div class="col">
    <div class="card" style="width: 18rem;" >
      <img src="/assets/img/teclado.png" class="card-img-top w-90 img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">Teclado</h5>
        <p class="card-text">Apenas um teclado</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/mouse.jpg" class="card-img-top w-90 img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mouse</h5>
        <p class="card-text">Apenas um Mouse</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/monitor.png" class="card-img-top w-90 img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">Monitor</h5>
        <p class="card-text">Apenas um Monitor</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/carregador.png" class="card-img-top w-90 img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">Carregador</h5>
        <p class="card-text">Apenas um Carregador</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/semideia.png" class="card-img-top w-90 img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sem ideia</h5>
        <p class="card-text">Apenas sem ideia</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>

</div>
