<div class="container-fluid">
  <div class="row p-5">

    <div class="col-3 mb-3">
      <div class="card" style="width: 18rem;">
        <img src="/assets/img/oculos.jpeg" class="card-img-top w-90 img-fluid mt-4" alt="...">
        <div class="card-body ">
          <h5 class="card-title">Óculos</h5>
          <p class="card-text">Apenas um Óculos</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>

    <div class="col-3 mb-3">
      <div class="card" style="width: 18rem;">
        <img src="/assets/img/oculos.jpeg" class="card-img-top w-90 img-fluid mt-4" alt="...">
        <div class="card-body ">
          <h5 class="card-title">Óculos</h5>
          <p class="card-text">Apenas um Óculos</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>

    <div class="col-3 mb-3">
      <div class="card" style="width: 18rem;">
        <img src="/assets/img/oculos.jpeg" class="card-img-top w-90 img-fluid mt-4" alt="...">
        <div class="card-body ">
          <h5 class="card-title">Óculos</h5>
          <p class="card-text">Apenas um Óculos</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>


    <div class="col-3 mb-3">
      <div class="card" style="width: 18rem;">
        <img src="/assets/img/oculos.jpeg" class="card-img-top w-90 img-fluid mt-4" alt="...">
        <div class="card-body ">
          <h5 class="card-title">Óculos</h5>
          <p class="card-text">Apenas um Óculos</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>

    
    <div class="col-3 mb-3">
      <div class="card" style="width: 18rem;">
        <img src="/assets/img/oculos.jpeg" class="card-img-top w-90 img-fluid mt-4" alt="...">
        <div class="card-body ">
          <h5 class="card-title">Óculos</h5>
          <p class="card-text">Apenas um Óculos</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>


    <div class="col-3 mb-3">
      <div class="card" style="width: 18rem;">
        <img src="/assets/img/oculos.jpeg" class="card-img-top w-90 img-fluid mt-4" alt="...">
        <div class="card-body ">
          <h5 class="card-title">Óculos</h5>
          <p class="card-text">Apenas um Óculos</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>

    <div class="col-3 mb-3">
      <div class="card" style="width: 18rem;">
        <img src="/assets/img/oculos.jpeg" class="card-img-top w-90 img-fluid mt-4" alt="...">
        <div class="card-body ">
          <h5 class="card-title">Óculos</h5>
          <p class="card-text">Apenas um Óculos</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>

    <div class="col-3 mb-3">
      <div class="card" style="width: 18rem;">
        <img src="/assets/img/oculos.jpeg" class="card-img-top w-90 img-fluid mt-4" alt="...">
        <div class="card-body ">
          <h5 class="card-title">Óculos</h5>
          <p class="card-text">Apenas um Óculos</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>


  </div>
</div>