<div class="nav nav-light bg-light">
  <div class="container">
    <div class="row p-3 justify-content-around"> <!--Inicio Row-->
      <div class="col d-flex ">
        <div class="row d-flex flex-column ">
          <div class="d-flex">
            <a data-mdb-ripple-init class="m-1 mr-1 btn btn-sm btn-primary" style="background-color: #3b5998;"
              href="#!" role="button">
              <i class="bi bi-facebook"></i>
            </a> <span class="text-center align-self-center">Facebook</span>
          </div>
          <div class="d-flex">
            <a data-mdb-ripple-init class="m-1 mr-1 btn btn-sm btn-primary" style="background-color: #ac2bac;"
              href="#!" role="button">
              <i class="bi bi-instagram"></i>
            </a> <span class="text-center align-self-center">Instagram</span>
          </div>
          <div class=" d-flex">
            <a data-mdb-ripple-init class="m-1 mr-1 btn btn-sm btn-primary" style="background-color: #dd4b39;"
              href="#!" role="button">
              <i class="bi bi-google"></i>
            </a> <span class="text-center align-self-center">E-mail</span>
          </div>
        </div>
      </div>
      <div class="col d-flex flex-column">
        <div class="text-nowrap">Oticas Brumarina - "Lorem ipsum dolor sit amet, consectetur adipiscing elit." <span class=""> </span></div> 
        <div class="text-center mt-auto font-italic text-muted">© Copyright 2024-2024 Copyright.com.br - All Rights Reserved - Legal</div>
      </div>
        
      


      <div class="col d-flex flex-column">
        <div class="mb-2 text-right">
          <a href="#!" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">SOBRE
            NÓS</a>
        </div>
        <div class="mb-2 text-right">
          <a href="#!"
            class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">HOME</a>
        </div>
        <div class="mb-2 text-right">
          <a href="#!"
            class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">SUPORTE</a>
        </div>
        <div class="mb-2 text-right">
          <a href="#!"
            class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">PRODUTOS</a>
        </div>

      </div>
    </div><!--Fim Row-->
  </div>
</div>
<!--<span class="navbar-text">
    Oticas Brumarina - As Melhores lentes com o melho<span class="text-muted"> </span>
  </span>-->